<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


<bean id="user1"  class="com.ewh.shop.user.User">
<property name="firstName"  value="Raj"></property>
<property name="lastName" value="Dahal"></property>
</bean>

<bean id="studentService" class="com.ewh.shop.service.StudentService">               
    </bean>
<bean id="studentDaoImpl2" class="com.ewh.shop.dao.StudentDaoImpl2">               
    </bean>

 <bean id="sessionFactory"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource">            
        </property>     
       <!--  <property name="mappingResources">
            <list>
                <value>conf/hibernate/UserMapping.hbm.xml</value>               
            </list>
        </property> -->
        
         <property name="annotatedClasses">
            <list>
                <value>com.ewh.shop.model.Student</value>               
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect"> org.hibernate.dialect.MySQL5Dialect </prop>
                <prop key="hibernate.current_session_context_class">thread</prop>      
               <!--  <prop key="hibernate.hbm2ddl.auto">update</prop> -->
           <!--      <prop key="hibernate.cache.use_second_level_cache"> true </prop> -->
              <!--   <prop key="hibernate.cache.use_query_cache">true</prop> -->
            </props>
        </property>
    </bean>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/service</value>
        </property>
        <property name="username">
            <value>root2</value>
        </property>
        <property name="password">
            <value>password72</value>
        </property>     
    </bean>


<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory">            
        </property>
       
    </bean>




   <!--  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
            <value>org.postgresql.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/student</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>password</value>
        </property>     
    </bean> -->
























<!-- <bean id="book" name="book" class="spring.mvc.Book">
<property name="subscription" ref="booksubs" />
<property name="authorName" value="RajuNath Dahal"></property>
<property name="pages" value="101"></property>
<property name="price" value="101.01"></property>
<property name="pageList">
<list>
<value > "page1"</value>
<value > "page2"</value>

</list>
</property>
</bean> -->

<!-- 
<bean id="subscription" name="subscription" class="spring.mvc.Subscription">
<property name="isbn"  value="12345"></property>
<property name="type" value="English"></property>
</bean> -->





<!-- the below mentioned bean definitions are from Project 
"SpringWithListOfObjectFindigingWhoWasAutoThief" -->

<!-- <bean name="m" class="raj.spring.package2.Manager">
<property name="tutor" ref="t"/>
<property name="student" ref="student"/>
</bean>

<bean name="t" class="raj.spring.package2.Tutor"/>

<bean name="student" class="raj.spring.package2.Student">
<property name="car" ref="car"/>
<property name="lastName" value="Raj"/>
</bean>

<bean name="car" class="raj.spring.package2.Car">
<property name="name" value="Honda Accord"/>
<property name="engine" ref="engine"/>
</bean>

<bean name="engine" class="raj.spring.package2.Engine">
<property name="vinNumber" value="123456"/>
</bean> -->
<!-- End of the below mentioned... -->


</beans>
